<div class="grid min-[1435px]:grid-cols-2 max-[1435px]:grid-rows-2 gap-2 min-[1435px]:mt-[-100px]">
  <img src="../../../../../../assets/sea-waves.png" class="min-[1435px]:ml-[-48px] min-[1435px]:w-[1000px] max-[1435px]:w-[24rem]" alt="icon">
  <div class="flex flex-col min-[1435px]:place-content-center w-full max-[1435px]:px-10">
    <div class="h-fit">
      <h1 class="text-red-ocean min-[1435px]:text-9xl text-7xl font-bold">Red</h1>
    </div>
    <!-- <div></div> -->
    <div class="h-fit">
      <h1 class="text-blue-ocean min-[1435px]:text-9xl text-7xl font-bold">Ocean</h1>
    </div>
    <!-- <div></div> -->
    <div class="h-fit">
      <h1 class="min-[1435px]:text-lg text-base dark:text-white">Lorem ipsum, atau ringkasnya lipsum, adalah teks standar yang ditempatkan
        untuk mendemostrasikan elemen grafis
        atau
        presentasi visual seperti font, tipografi, dan tata letak.</h1>
    </div>
    <!-- <div></div> -->
  </div>
</div>
