<div class="grid min-[600px]:grid-cols-2 max-[600px]:grid-rows-2 gap-2 min-[600px]:mt-[-100px]">
  <img src="../../../../../../assets/sea-waves.png" class="min-[600px]:ml-[-48px] min-[600px]:w-[1000px] max-[600px]:mb-8" alt="icon">
  <div class="flex flex-col min-[600px]:place-content-center w-full max-[600px]:px-10">
    <div class="h-fit">
      <h1 class="text-red-ocean min-[600px]:text-8xl text-7xl font-bold">Red</h1>
    </div>
    <!-- <div></div> -->
    <div class="h-fit">
      <h1 class="text-blue-ocean min-[600px]:text-8xl text-7xl font-bold">Ocean</h1>
    </div>
    <!-- <div></div> -->
    <div class="h-fit">
      <h1 class="min-[600px]:text-lg text-base dark:text-white">Lorem ipsum, atau ringkasnya lipsum, adalah teks standar yang ditempatkan
        untuk mendemostrasikan elemen grafis
        atau
        presentasi visual seperti font, tipografi, dan tata letak.</h1>
    </div>
    <!-- <div></div> -->
  </div>
</div>
