<div class="mt-24 mb-5">
  <app-header-section [title]="'Mobile'"
    [description]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'"></app-header-section>
</div>


<div class="mx-5 grid min-[1435px]:grid-cols-4 min-[1435px]:gap-6 gap-4 max-[1435px]:grid-cols-2 min-[1435px]:px-8">
  <!-- card -->
  <app-card-project-stack *ngFor="let data of project" [bgProject]="data.bgProject" [title]="data.title"
    [bgColor]="'bg-navy-ocean'" [description]="data.description" [link]="data.link"
    [stackTech]="data.stackTech"></app-card-project-stack>
  <!-- card -->
</div>

<div class="mt-10 flex flex-row justify-center">
  <button type="button"
    class="text-center border border-1 border-navy-ocean text-navy-ocean rounded-lg px-5 py-2 hover:bg-navy-ocean hover:text-white">Load
    More</button>
</div>
