<div class="pb-20 mx-10">
  <div class="flex flex-row place-content-center">
    <div class="text-center w-[380px]">
      <h1 class="text-navy-ocean min-[600px]:text-3xl text-2xl font-bold mb-1 dark:text-white">Categories</h1>
      <p class="text-navy-ocean dark:text-white max-[600px]:text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </div>
  </div>
  <div class="flex min-[600px]:flex-row flex-col justify-center place-items-center mt-10 w-full">
    <div
      class="w-[20rem] h-full max-[600px]:my-5 mx-5 bg-red-ocean shadow-lg flex flex-col items-center justify-center text-center rounded-2xl p-7 hover:bg-dark-red-ocean cursor-pointer transition-transform ease-in-out hover:transform hover:scale-110">
      <img src="../../../../../../assets/app-development.png" class="w-28 mb-2" alt="icon">
      <h1
        class="text-red-ocean font-bold bg-cream-ocean rounded-full dark:text-warning px-4 mt-5 text-xl w-fit text-center mx-auto">
        Mobile
        App</h1>
      <p class="text-cream-ocean mt-3 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </div>
    <div
      class="w-[20rem] h-full max-[600px]:my-5 mx-5 bg-cream-ocean shadow-lg flex flex-col items-center justify-center text-center rounded-2xl p-7 hover:bg-dark-cream-ocean cursor-pointer transition-transform ease-in-out hover:transform hover:scale-110">
      <img src="../../../../assets/web-development.png" class="w-28 mb-2" alt="icon">
      <h1 class="text-cream-ocean font-bold bg-red-ocean rounded-full px-4 mt-5 text-xl w-fit text-center mx-auto">
        Web
        App</h1>
      <p class="text-red-ocean mt-3 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </div>
    <div
      class="w-[20rem] h-full max-[600px]:my-5 mx-5 bg-red-ocean shadow-lg flex flex-col items-center justify-center text-center rounded-2xl p-7 hover:bg-dark-red-ocean cursor-pointer transition-transform ease-in-out hover:transform hover:scale-110">
      <img src="../../../../assets/ui-design.png" class="w-28 mb-2" alt="icon">
      <h1 class="text-red-ocean font-bold bg-cream-ocean rounded-full px-4 mt-5 text-xl w-fit text-center mx-auto">
        UI/UX</h1>
      <p class="text-cream-ocean mt-3 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </div>
    <div
      class="w-[20rem] h-full max-[600px]:my-5 mx-5 bg-cream-ocean shadow-lg flex flex-col items-center justify-center text-center rounded-2xl p-7 hover:bg-dark-cream-ocean cursor-pointer transition-transform ease-in-out hover:transform hover:scale-110">
      <img src="../../../../assets/handshake.png" class="w-28 mb-2" alt="icon">
      <h1 class="text-cream-ocean font-bold bg-red-ocean rounded-full px-4 mt-5 text-xl w-fit text-center mx-auto">
        Discuss</h1>
      <p class="text-red-ocean mt-3 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </div>
  </div>
</div>
