<div class="my-28 bg-blue-ocean">
  <div class="flex flex-row place-content-center py-10">
    <div class="text-center w-[380px]">
      <h1 class="text-navy-ocean min-[600px]:text-3xl text-2xl font-bold mb-1">Project Showcase</h1>
      <p class="text-navy-ocean max-[600px]:text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </div>
  </div>
  <div class="grid min-[600px]:grid-cols-5 max-[600px]:grid-rows-5 gap-0">

    <!-- card -->
    <div class="bg-cover bg-center bg-opacity-50 group cursor-pointer"
      style="background-image: url(../../../../assets/project-showcase-1.jpg);">
      <div class="h-72">
      </div>
      <div class="rounded-t-3xl bg-red-ocean opacity-90 p-8 h-64">
        <h1
          class="text-white font-bold text-2xl transition-transform ease-in-out group-hover:transform group-hover:scale-110 text-center">
          Nex Knowledge Management</h1>
        <p class="text-white mt-3 text-center text-wrap">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo
          ligula eget
          dolor. Aenean massa. Cum
          sociis
          natoque penatibus et</p>
      </div>
    </div>
    <!-- card -->

    <!-- card -->
    <div class="bg-cover bg-center bg-opacity-50 group cursor-pointer"
      style="background-image: url(../../../../assets/project-showcase-2.jpg);">
      <div class="h-72">
      </div>
      <div class="rounded-t-3xl bg-navy-ocean opacity-90 p-8 h-64">
        <h1
          class="text-white font-bold text-2xl transition-transform ease-in-out group-hover:transform group-hover:scale-110 text-center">
          Pusat Logistik Berikat</h1>
        <p class="text-white mt-3 text-center text-wrap">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo
          ligula eget
          dolor. Aenean massa. Cum
          sociis
          natoque penatibus et</p>
      </div>
    </div>
    <!-- card -->

    <!-- card -->
    <div class="bg-cover bg-center bg-opacity-50 group cursor-pointer"
      style="background-image: url(../../../../assets/project-showcase-1.jpg);">
      <div class="h-72">
      </div>
      <div class="rounded-t-3xl bg-red-ocean opacity-90 p-8 h-64">
        <h1
          class="text-white font-bold text-2xl transition-transform ease-in-out group-hover:transform group-hover:scale-110 text-center">
          SP Document</h1>
        <p class="text-white mt-3 text-center text-wrap">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo
          ligula eget
          dolor. Aenean massa. Cum
          sociis
          natoque penatibus et</p>
      </div>
    </div>
    <!-- card -->

    <!-- card -->
    <div class="bg-cover bg-center bg-opacity-50 group cursor-pointer"
      style="background-image: url(../../../../assets/project-showcase-2.jpg);">
      <div class="h-72">
      </div>
      <div class="rounded-t-3xl bg-navy-ocean opacity-90 p-8 h-64">
        <h1
          class="text-white font-bold text-2xl transition-transform ease-in-out group-hover:transform group-hover:scale-110 text-center">
          GSMART</h1>
        <p class="text-white mt-3 text-center text-wrap">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo
          ligula eget
          dolor. Aenean massa. Cum
          sociis
          natoque penatibus et</p>
      </div>
    </div>
    <!-- card -->

    <!-- card -->
    <div class="bg-cover bg-center bg-opacity-50 group cursor-pointer"
      style="background-image: url(../../../../assets/project-showcase-1.jpg);">
      <div class="h-72">
      </div>
      <div class="rounded-t-3xl bg-red-ocean opacity-90 p-8 h-64">
        <h1
          class="text-white font-bold text-2xl transition-transform ease-in-out group-hover:transform group-hover:scale-110 text-center">
          SDA Catalogue</h1>
        <p class="text-white mt-3 text-center text-wrap">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo
          ligula eget
          dolor. Aenean massa. Cum
          sociis
          natoque penatibus et</p>
      </div>
    </div>
    <!-- card -->

  </div>
</div>
